.wrapper {
    gap: 20px;

    .role {
        width: fit-content;

        ul {
            width: 150px;
        }
    }
    .operator {
        ul {
            width: 150px;
        }
    }

    .newUserButton {
        display: flex;
        align-items: center;
        gap: 7px;
        justify-content: center;
        padding: 9px 12px;
        font-weight: 500;

        .plus {
            width: 17px;
            height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3e98ff60;
        }
    }
}
