.table {
    overflow: auto;

    thead {
        vertical-align: middle;
        border-bottom: 1px dashed #e1e3ea;

        th {
            padding-left: 10px !important;
            text-wrap: nowrap;

            &.operatorTh {
                width: 300px;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px dashed #e1e3ea !important;

            td {
                text-wrap: nowrap;
                padding-left: 10px !important;

                &.operatorTd {
                    max-width: 300px;
                }
            }
        }
    }
}
