.wrapper {
    gap: 20px;
    padding-bottom: 5px;
    display: flex;

    @media (max-width: 700px) {
        display: grid;
        grid-template-columns: 175px;
    }

    .year,
    .category {
        ul {
            width: 200px;
            z-index: 20;
        }
    }

    .price {
        text-wrap: nowrap;

        ul {
            width: 190px;
            z-index: 20;
        }
    }

    .artworkStatus {
        text-wrap: nowrap;

        ul {
            width: 200px;
            z-index: 20;
        }
    }

    .newArtworkButton {
        display: flex;
        align-items: center;
        gap: 7px;
        justify-content: center;
        padding: 9px 12px;
        font-weight: 500;
        text-wrap: nowrap;

        .plus {
            width: 17px;
            height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3e98ff60;
        }
    }
}
