.popupBg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup {
    max-width: 600px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    z-index: 1000;
    background: #fff;
    position: fixed;
    border-radius: 12px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;

    .header {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e1e3ea;

        .title {
            color: #3f4254;
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: -0.18px;
            display: flex;
            align-items: center;
            gap: 16px;

            img {
                cursor: pointer;
            }
        }

        .buttonClose {
            background: none;
            border: none;
            cursor: pointer;
            padding: 3px;
        }
    }

    .body {
        flex: 1;
        padding: 30px;
        overflow-y: auto;
    }

    .bottom {
        border-top: 1px solid #e1e3ea;
        padding: 30px;
    }
}

.mainContent {
    height: auto;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.cropImageContent {
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratios {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    justify-content: center;

    .ratio {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 12px;
        color: var(--white-dark-dark, #7e8299);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        border: none;
        background: none;
        cursor: pointer;
        border-radius: 6px;

        &.selected {
            color: #3e97ff;
            background: var(--primary-primary-light, #eef6ff);
            padding: 12px 16px;
        }
    }
}

.range {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    input {
        width: 100%;
        appearance: none;
        background-color: transparent;
    }

    input::-webkit-slider-runnable-track {
        height: 2px;
        border-radius: 0.125rem;
        background-color: #3e97ff;
    }

    input::-webkit-slider-thumb {
        margin-top: -7px;
        height: 16px;
        width: 16px;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 50%;
        background-color: #3e97ff;
    }
}
