.navbar {
    background: #ffffff;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
    position: sticky;
    z-index: 10;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;

    @media(max-width: 991px) {
        top: 0;
    }

    li {
        height: 100%;

        div {
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                border-bottom: none !important;
            }

            &.linkActive {
                color: #3e97ff !important;
                border-bottom: 3px solid #3e97ff !important;
                border-radius: 3px !important;
                font-weight: 600;
            }
        }
    }
}
