.itemsQuantity {
    padding: 5px 7px;
    background: #e1e3ea;
    color: #a1a5b7;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-weight: 600;
}
