.tableWrapper {
    padding-top: 30px;
    overflow: auto;

    .table {
        margin-bottom: 0;

        thead {
            border-bottom: 1px dashed #e1e3ea;

            tr {
                vertical-align: middle;

                th {
                    padding: 10px 0 10px 10px;
                    font-size: 12px;
                    line-height: 12px;
                }

                .nameArtwork {
                    min-width: 181px;
                }
                .category {
                    min-width: 76px;
                }
                .status {
                    min-width: 116px;
                }
                .owner {
                    min-width: 164px;
                }
                .price {
                    min-width: 116px;
                }
                .purchaseRequests {
                    width: 80px;
                }
                .confirmStatus {
                    width: 122px;
                }
            }
        }

        tbody {
            .titleAvailable,
            .titleBlocked {
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
            }

            .titleAvailable {
                color: #3f4254;
                cursor: pointer;
            }

            .titleBlocked {
                color: #7e8299;
            }

            tr {
                border-bottom: 1px dashed #e1e3ea;

                td {
                    padding: 10px 0 10px 10px;
                }

                .nameTd {
                    a {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        text-wrap: nowrap;

                        img {
                            border-radius: 6px;
                            background: rgb(57, 57, 69);
                        }
                    }
                }

                .owner {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }

                .sendRequestTd {
                    .button {
                        width: auto;
                        white-space: nowrap;
                        color: #a1a5b7;
                        font-size: 12px;
                        padding: 9px 12px;
                    }
                }
            }
        }
    }
}
