.nothingFound {
    height: 48vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-gray-600, #7e8299);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
