.tableWrapper {
    padding-top: 30px;
    overflow-x: auto;

    .table {
        margin-bottom: 0;

        thead {
            border-bottom: 1px dashed #e1e3ea;

            tr {
                vertical-align: middle;

                th {
                    padding: 10px 0 10px 10px !important;
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }

        tbody {
            text-wrap: nowrap;

            tr {
                border-bottom: 1px dashed #e1e3ea;

                td {
                    padding: 10px 0 10px 10px !important;
                }
            }
        }
    }
}

.linkTitle {
    color: #3f4254;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.artworkImage {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 7px;
    }
}

.user {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #393945;
    }
}
